body {
	background-color: #A9A9A9;
}
nav { 
    text-align: center;
}
h1 {
    color: #FFFFFF;
    text-align: center;
}

a {
	text-decoration: none;
	color: inherit;
}
a.underline {
    text-decoration: underline;
}
li > a {
	text-decoration: none;
	color: #fff;
    text-align: center;
}
ul {
	display: inline-block;
    list-style-type: none;
    align-content: center;
}
li:nth-of-type(2) > a {
	background-color: #D3D3D3;
}
article header h2 {
    color: #FFFFFF;
	text-align: left;
}
article footer {
	font-style: italic;
	text-align: left;
	font-size: 1em;
}
footer {
	text-align: center;
	font-size: 15px;
}