body
{
    
    font-family: Arial;
}
table {
    background-color: #595959;
    color: #ccc;
}

table th {
    font-weight: normal;
    font-size: 20px;
    padding: 10px;
    text-align: left;
}

table td {
    padding: 7px;
    vertical-align: top;
}
span.circle 
{
    border-radius: 50%;
    width: 2px;
    height: 2px;
    background-color: #71b47a;
}
table tr td:first-child {
    color: #ffffff;
    font-style: italic;
    padding-right: 20px;
}

a
{
    color: #f3f6ac;
    text-decoration: none;
}
img {
    width: 4%;
    height: 5%;
}

#inactiveSupport {
    font-weight: 500;
    vertical-align: top;
    color: red;
}

span.notAnswered {
    color: orange;
}