table {
    border-collapse: collapse;
    width: 456px;
    height: 133px;
}

th, td {
    text-align: left;
    padding: 8px;
    width: 110px;
    height: 30px;
}

tr:nth-child(even){background-color: #ECECD8}

th {
    background-color: #4CAF50;
    color: white;
}
#grad1 {
    height: 200px;
    background: #59BD06; 
    background: -webkit-linear-gradient(#59BD06, #47A803); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#59BD06, #47A803); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#59BD06, #47A803); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#59BD06, #47A803); /* Standard syntax always last! */
}